<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schoggifabrik @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/lib/codemirror/dist/css/codemirror.css" />
    <link rel="stylesheet" href="~/lib/codemirror/dist/css/material.css" />

    <link href="https://fonts.googleapis.com/css?family=Prompt|Work+Sans" rel="stylesheet">
</head>
<body>
    <div class="top-banner container"></div>
    <div class="container body-content">
        <h1>Schoggifabrik &gt;_ <span class="pull-right">@ViewData["Title"]</span></h1>

        @RenderBody()

        <section id="result-section">
            <div id="result-header">
                <button id="refresh-result"><span class="glyphicon glyphicon-refresh"></span></button>
                <button id="minimise-result"><span class="glyphicon glyphicon-minus"></span></button>
            </div>
            <div class="clearfix"></div>
            <div id="results">
                <div class="result">
                    <div class="result-status"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</div>
                </div>
            </div>
        </section>
    </div>
    <footer class="container">
        <span class="application-info">
            &copy; 2018 - Schoggifabrik by JP - Version
            @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion
        </span>
        <button id="show-result" class="pull-right">Show Results</button>
    </footer>

    <script src="~/lib/codemirror/dist/js/codemirror.js"></script>
    <script src="~/lib/codemirror/dist/js/haskell.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
